---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: devopsapp
  namespace: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: cont-1
          image: nihanth19/webapps:dbs
          ports:
            - containerPort: 3306
      imagePullSecrets:
        - name: flm




---
apiVersion: v1
kind: Service
metadata:
  name: devopsdb
  namespace: web-app
spec:
  clusterIP: None
  selector:
    app: db
  ports:
    - port: 3306
      targetPort: 3306
